*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(253, 0, 0, 0.404) 0%, rgba(0, 0, 0, 0.404) 100%),url(../img/bike.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.logo{
    width: 150px;
    height: auto;
    padding: 30px;
}

.hamburguer{
    position: fixed;
    z-index: 10;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 6px rgba(252, 0, 0, 0.5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(135deg, #ff000057 0%, #00000085 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px 7px rgba(0, 0, 0, 0.5);
}

.spread{
    transform: translate(0);
}

.menu-navegacion a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.menu-navegacion a:hover{
    color: #ff0000;
    text-decoration: none;
    font-size: 25px;
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}


.ingreso{
    width: auto;
    height: 100%;
    margin: 0 5%;
    z-index: 0;
    background: url(../img/ingeso.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.ingreso_info{
    padding: 50px;
    width: 60%;
    height: 100%;
    display: block;
    flex-wrap: wrap;
}
.ingreso_info h1{
    font-weight: 500;
    color: #fc0000;
    font-size: 50px;
    margin-top: 10px;
}

.btn_register, .btn_login{
    width: 130px;
    height: 45px;
    font-size: 18px;
    border-radius: 2px;
    font-weight: 500;
    border-style: none;
    margin: 10px 0px 10px 15px;
    align-items: center;
    transition: all 1s;
} 
.btn_register{
    color: #000000;
    background-color: #FFF;
}
.btn_register:hover, .btn_login:hover{
    box-shadow: #ff0000;
    -webkit-box-shadow: 0px 0px 28px 0px rgb(251, 0, 0);
    transition: all 0s;
}
.btn_login{
    color: #FFF;
    background-color: #ff0000;
}

/*Mejoras Importantes*/

#contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

#contenedor > div {
    width: 50%;
    padding: 0px 30px;
}

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: rgb(254, 0, 0);
    margin-bottom: 40px;
    font-size: 40px;
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio img{
    width: 70%;
}

.checklist-servicio{
    width: 100%;
}

.service{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 7px;
    color: rgb(255, 0, 0);
}

.number{
    display: inline-block;
    background-image: linear-gradient(to top, rgb(255, 0, 0) 0%, rgba(0, 0, 0, 0.19) 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

/*Galería*/

.gallery{
    background: #f2f2f2;

}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px  rgba(255, 0, 0, 0.5);
    cursor: pointer;
}

.vid-galeria{
    object-fit: cover;
    width: 555px;
    height: 315px;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px  rgba(255, 0, 0, 0.5);
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
    z-index: 99;
}

.show{
    transform: translate(0);
}

.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

/*Mantenimientos Ducati*/

.experts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: 10px;
}

.cont-expert img{
    width: 40%;
    display: block;
    margin: 0 auto;
}

.n-expert{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}

/*Footer*/

footer{
    background:  rgb(5, 5, 5);
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 50%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 35px;
    color: #ff0000;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover{
    background: #fff;
    color: rgb(255, 0, 0);
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

/*Responsive 800px*/

@media screen and (max-width:800px) {

    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }
    .ingreso_info h1{
        font-weight: 300;
        font-size: 35px;
        margin-top: 10px;
    }

    .btn_register, .btn_login{
        width: 100px;
        height: 35px;
        font-size: 15px;
        border-radius: 2px;
        font-weight: 500;
        border-style: none;
        margin: 10px 0px 10px 15px;
        align-items: center;
        transition: all 1s;
    } 
    
    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }

    #contenedor > div {
        width: 100%;
        padding: 0px 30px;
    }


    .checklist-servicio{
        width: 80%;
    }

    .service{
        margin-bottom: 30px;
    }

    .agregar-imagen{
        width: 80%;
    }

    .img-galeria{
        width: 45%;
    }

    .cont-expert{
        width: 80%;

    }

    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .social-media i{
    margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }

}

/*Responsive 500px*/

@media screen and (max-width:500px){
    
    .menu-navegacion{
        width: 65vw;
    }

    .hamburguer{
        top: 20px;
        right: 20px;
    }

    .titulo{
        font-size: 30px;
    }

    .ingreso_info h1{
        font-weight: 300;
        font-size: 25px;
        margin-top: 10px;
    }

    .btn_register, .btn_login{
        width: 80px;
        height: 25px;
        font-size: 10px;
        border-radius: 2px;
        font-weight: 500;
        border-style: none;
        margin: 10px 0px 10px 15px;
        align-items: center;
        transition: all 1s;
    }

    #contenedor > div {
        width: 100%;
        padding: 0px 30px;
        text-align: center;
    }

    .subtitulo{
        font-size: 30px;
    }

    .agregar-imagen{
        width: 95%;
    }

    .img-galeria{
        width: 95%;
    }

    .brand{
        font-weight: 500;
        font-size: 30px;
    }

    .social-media{
        width: 100%;
    }

    .contact-us{
        width: 905;
    }
}